body {
    background: linear-gradient(to right, steelblue, coral, blue, hotpink, limegreen, purple);
}

#canvas {
    position: absolute;
    border: dashed 4px black;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

img {
    display: none;
}